<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/head.ejs-%>
</head>
<div class="topbar clearfix">
    <%- include includes/topbar.ejs -%>
  </div>

<body>
  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-right">
        <div class="social_buttons">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->
  <header class="header">
  <%- include includes/header.ejs-%>
</header>
  <!-- end header -->

  <section class="post-wrapper-top">
      <%- include includes/postwrapper.ejs-%>

  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="general-title text-center">
          <h3>ABOUT Discovery Press</h3>
          <p>Learn more about us</p>
          <hr>
          <img src="images/July2018Photo.jpg" alt=""/>
        </div>
        <div class="divider"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="container">
            <p>	
                    Water is transparent and so is the truth,
                    Read my books and you can know the truth.
                    
                    I am amongst a growing group of researchers, writers, and philosophers who want to know the truth, and are not content with anything less than the truth. Men and women of similar mind can see how the whole world has been corrupted with money, and when they find out the reality of this civilisation is falsity, they feel violated and suffer the pain that goes with that. Consequently, I have spent the last fifty years carefully researching the truth, which has always been the central theme of the thirtyhy odd books I have written over the decades on various topics closest to the public interest. For example, my very latest book has been posted on this site free for you to read, because amongst its many subjects is the crash of our material civilisation over the next decade.</p>
          </div>
          <!-- he wrap -->
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end section 1 -->

  <div class="clearfix"></div>
  <div class="divider"></div>


  <%- include includes/footer.ejs -%>
  <%- include includes/scripts.ejs -%>


</body>

</html>
