<!DOCTYPE html>
<html lang="en">
<head>
        <%- include includes/head.ejs-%>
</head>

<body>
  <div class="topbar clearfix">
        <%- include includes/topbar.ejs-%>
    </div>
  <!-- end topbar -->

  <header class="header">
        <%- include includes/header.ejs-%>
    </header>
  <!-- end header -->

  <section class="post-wrapper-top">
        <%- include includes/postwrapper.ejs-%>
    </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="images/NZHP2016.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                  </div>
                  <!-- center  bar -->
                </div>
              </div>
            </div>
            <!-- he wrap -->
            <div class="teammembers-meta">
              <h4>New Zealands Hidden Past</h4>
            </div>
            <p>By meticulously analysing tephra from the previous two volcanic eruptions at Taupo, in relation to the dozens of rock markings under the ash on mount Tauhara including carbon dating evidence, Ross Wiseman has reconstructed a vivid portrait of a legendary European civilisation that reached these shores in previous millennia; which already adds to the research already carried out near napier during the 1960s."</p>
            <small>Published 2016</small>

          </div>
          <!-- end teammembers -->
        </div>
        <!-- end col 4 -->

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="images/anadvancedculture.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                  <!-- center  bar -->
                </div>
              </div>
            </div>
            <!-- he wrap -->
            <div class="teammembers-meta">
              <h4>An Advanced Culture</h4>
            </div>
            <p>An interpretation of what is behind our everyday lives</p>
            <small>Published 2015</small>
          </div>
          <!-- end teammembers -->
        </div>
        <!-- end col 4 -->

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="images/reincarnation.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                  </div>
                  <!-- center  bar -->
                </div>
              </div>
            </div>
            <!-- he wrap -->
            <div class="teammembers-meta">
              <h4>Reincarnation Investigations</h4>
            </div>
            <p>Would you really like to know the truth behind the world"?  Many have asked the questions but few can come up with answers, becuase the only way to really understand what the world is about is through the Theory of Reincarnation, as this book will show</p>
            <small>Published 2013</small>
          </div>
          <!-- end teammembers -->
        </div>
        <!-- end col 4 -->

      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

  <section class="section3">
    <div class="container withpadding">
      <div class="message">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <h3>Books are available in hardcopy</h3>
          <p>Contact the author</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a class="dmbutton button large pull-right" href="contact"><i class="fa fa-download"></i> Order Hardcopy</a>
        </div>
      </div>
      <!-- end message -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section3 -->

  <footer class="footer">
    <%- include includes/footer.ejs-%>
  </footer>
  <div class="dmtop">Scroll to Top</div>

  <!-- JavaScript Libraries -->
</body>
</html>
